<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Template using in Flask.</title>
</head>
<body style="background-color: brown;">
    <!-- Simple template with some text and red backgorund-->
    <h1 style="color: aliceblue;">This is a basic template.</h1>

    <table>
        <tr>
            <td style="color: rgb(0, 0, 0);">The</td>
        </tr>
        <tr>
            <td style="color: rgb(0, 0, 0);">Worldo</td>
        </tr>
        <tr>
            <td style="color: rgb(0, 0, 0);">Dio Dio Dio</td>
        </tr>
    </table>
</body>
</html>