<!-- <p> 
    <form method="GET">
        Thank You for filling out this form {{session['breed']}} -san. 
        <br>
        Arigato gozaimasu. Hontoni arigatou gozaimasu. Ora ora ora. Muda muda muda.
    </form>
    
</p> -->
<body style="background-color: bisque;">
<h1> Thank you for filling out the form. Here are the values you put in:</h1>
<!-- <p> Breed: {{session['breed']}} </p>
<p> Neutered: {{session['neutered']}} </p>
<p> Mood: {{session['mood']}} </p>
<p> Food Choice: {{session['food_choice']}} </p>
<p> Feedback: {{session['feedback']}} </p> -->
<ul style="background-color: black; height: fit-content; width: fit-content;">
    <li style="color: aliceblue; font-size: x-large;"> Breed: {{session['breed']}} </li>
    <li style="color: aliceblue; font-size: x-large;"> Neutered: {{session['neutered']}} </li>
    <li style="color: aliceblue; font-size: x-large;"> Mood: {{session['mood']}} </li>
    <li style="color: aliceblue; font-size: x-large;"> Food Choice: {{session['food_choice']}} </li>
    <li style="color: aliceblue; font-size: x-large;"> Feedback: {{session['feedback']}} </li>
</ul>
<br>
<p style="text-align: center;"> Meow Meow meow Meow. </p>
<p style="text-align: center;"> Meow Meoowww Meow Meow meow👀😼!</p>
<table style="font-size: 10cm;">
    <tr>
        <td> 👽 </td>
        <td style="padding-left: 13%;"> 👺 </td>
        <td style="padding-left: 22%;"> 🐱 </td>
    </tr>
</table>
<body>