<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<!-- <body style="background-image: url(https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWlzdHklMjBmb3Jlc3R8ZW58MHx8MHx8&w=1000&q=80);"> -->
<body style="background-image: url(https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWlzdHklMjBmb3Jlc3R8ZW58MHx8MHx8&w=1000&q=80); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;">
    <h1 style="color: forestgreen; text-align: center; font-size: 3cm;"> LANDING PAGE </h1>
</body>
</html>