<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home of Pets </title>
</head>
<body style="background-color: burlywood;">
    <h1 style="text-align: center; font-size: 2cm; font-family: sans-serif; padding-top: 20px;"> 🐱 Home of Pets 🐶</h1>
    <p style="font-family: sans-serif; font-size: 20px;"> If this is your first visit here, please <span style="color: red; font-weight: 600;">fill the form and DO NOT click </span> on "View All Pet Registrations" as that will crash the site!! </p>
    <p style="font-size: 20px; font-family: sans-serif;"> If you have already filled the form, you can click on "View All Pet Registrations" to see the data you have entered. </p>
    <hr>
    <br>
    <form action="/index" method="POST">
        <h1>
            <input style="width: 15cm; font-size: 1cm; font-family: sans-serif; color: aquamarine; background-color: black;"  type="submit" value="Fill the Form" name="form">
        </h1>
    </form>
    <form action="/view" method="POST">
        <h1> 
            <input style="width: 15cm; font-size: 1cm; font-family: sans-serif; color: aquamarine; background-color: black;" type="submit" value="View All Pet Registrations" name="vAPR">
        </h1>
    </form>

    <form action="/stream" method="post">
        <h1>
            <input style="width: 15cm; font-size: 1cm; font-family: sans-serif; color: aquamarine; background-color: black;"  type="submit" value="View Logs" name="form">
        </h1>
    </form>

    <p style="text-align: center; font-size: medium; font-family: 'Times New Roman'; color: blue; padding: 1.5cm; font-size: 1cm;"> <a href="http://github.com/Jks08"> JKS </a></p>

    <p style="font-size: 20px; font-family: sans-serif; color: red;"> P.S: If you make errors while filling this form or crash the website, then you probably need to reconsider having a pet and your own life which to be honet has absolutely no point and is a complete waste of energy, time and resources. We wish you all the best for your future endeavors. </p>
</body>
</html>