<body style="background-color: beige;">
    <h1 style="font-size: xx-large; color: black;"> Please fill the following form: </h1>
    <form method="POST" style="height: fit-content; width: fit-content; color: red; font-size: 0.5cm;">
        {# This is hidden tag for CSRF protection #}
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }} 
        <br> <hr>
        {{ form.age.label }} {{ form.age }}
        <br> <hr>
        {{ form.type.label }} {{ form.type }}
        <br> <hr>
        {{ form.ownerName.label }} {{ form.ownerName }}
        <br> <hr>
        {{ form.ownerAddress.label }} {{ form.ownerAddress }}
        <br> <hr>
        {{ form.submit() }}
    </form>
    <br>
<br>
<p> </p>
<h1 style="font-size: 0.6cm; border: 3px solid black; background-color: greenyellow; width: fit-content;"> <a href="{{url_for('index')}}"> Cancel Registration </a></h1>
</body>