<body style="background-color: burlywood;">
    <h1 style="font-size: xx-large; color: black;"> Update Data </h1>
    <style>
        form{
            font-size: 0.8cm;
            color: red;
            border: 3px dashed aqua;
            background-color: black;
            width: 10cm;
        }
    </style>
    <form method="POST">
    {# This is hidden tag for CSRF protection #}
    {{ form.hidden_tag() }}
    {{ form.age.label }} {{ form.age }}
    <br> <hr>
    {{ form.type.label }} {{ form.type }}
    <br> <hr>
    {{ form.ownerName.label }} {{ form.ownerName }}
    <br> <hr>
    {{ form.ownerAddress.label }} {{ form.ownerAddress }}
    <br> <hr>
    {{ form.submit() }}
</form>
<br>
<br>
<p> </p>
<h1 style="font-size: 0.6cm; border: 3px solid black; background-color: greenyellow; width: fit-content;"> <a href="{{url_for('index')}}"> Cancel Update </a></h1>
</body>